style.
  article::first-letter {
      font-weight: bold;
      color: #629DD1;
      text-transform: capitalize;
  }

script.
  var url = "https://www.reddit.com/r/lifeprotips/hot.json";

  document.addEventListener('DOMContentLoaded', function () {

    var newsAPI = url;
    $.getJSON(newsAPI, function (json) {
        var children = json.data.children;
        $.each(children, function (key, value) {
            var score = children[key]['data']['score'];    
            if ( score > 20 ){
                var title = children[key]['data']['title'];
                title = title.toLowerCase();
                if ( title.substring(0, 3) == "lpt" ) {
                    if ( title.substring(4, 11) != "request" ) {
                        
                        title = title.replace("lpt - ", "");
                        title = title.replace("lpt: ", "");   
                        title = title.replace("lpt:", "");   
                        title = title.replace("lpt,", "");   
                        title = title.replace("lpt", "");   

                        var article = "<article>" + title + "</article>";
                        $('#news').append(article);
                    }
                }
            }
        });
    });
  }, false);