doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

    link(rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/assets/img/favicon.ico" type="image/x-icon")

    link(rel="manifest" href="/manifest.json")

    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="/assets/css/loader.css")

    title= title

  body
    div.loader

    div#wrapper

      div#main
        div.inner
          header#header
            a(href="/", class="logo")
              b Editorial
              span &nbsp; by Fivecat

          section
            header.major
              h2= title

            div.posts#news

          section
            footer#footer
              p.copyright &copy; Fivecat. All Rights Reserved. Design: <a href="https://html5up.net">HTML5 UP</a>

      div#sidebar
        div.inner
          nav#menu
            header.major
              h2 Menu

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")

    script(src="/assets/js/editorial/skel.min.js")
    script(src="/assets/js/editorial/util.js")
    script(src="/assets/js/editorial/main.js")

    script(src="/assets/js/loading/loading.js")
    script(src="/assets/js/menu/menu.js")
    script(src="/assets/js/functions/functions.js")
    
    script(src="/assets/js/debug/kuoll.js")

    != yield