doctype
html
  head
    //-
      link(rel="stylesheet" href="assets/css/bootstrap/journal.min.css")
      link(rel="stylesheet" href="assets/css/sidebar/simple-sidebar.css")
      link(rel="stylesheet" href="assets/css/lib/fonts.css")
      link(rel="stylesheet" href="assets/css/custom/custom.css")
    
  body
    div.loader

    div#wrapper
      div#sidebar-wrapper
        ul.sidebar-nav#nav
          li.sidebar-brand
            h2
              a(href="/")
                news
      
      div#page-content-wrapper
        div.container-fluid
          div.row
            div.col-lg-12
              section
                h2
                  a(href="#menu-toggle", id="menu-toggle")

                div#news

              hr.major

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="assets/js/loading/loading.js")
    script(src="assets/js/menu-toggle/menu-toggle.js")
    script(src="assets/js/menu/menu.js")
    script(src="assets/js/functions/functions.js")

    != yield